body {
	background-color: #CCC;
	text-align: center;
}

.battlefield_cell {
	height: 75px;
	width: 75px;
	display: inline-block;
	background-color: #BEFFB3;
	margin: 4px;
	border-radius: 8px;
}

.banner {
	border-radius: 8px;
	color: white;
}

.column {
	display: inline-block;
	height: 100%;
}

.dead {
	display: none;
}

.fighter {
	height: 52px;
	width: 52px;
	margin: 10px;
	border-radius: 8px;
	background-repeat: no-repeat;
}

.food {
	height: 52px;
	width: 52px;
	margin: 10px;
	background-color: #F57FDF;
	border-radius: 8px;
}

.roster {
	font-size: 36px;
	margin: 8px 8px;
	position: absolute;
	top: 0;	
	border-radius: 8px;
	color: white;
	padding: 4px 8px;
}	

.north, .south, .east, .west {
	border-color: red;
	border-width: 6px;
}

.north { border-style: solid none none none; }
.east { border-style: none solid none none; }
.south { border-style: none none solid none; }
.west { border-style: none none none solid; }

#away_team {
	right: 0;
	background-color: #859BFF;

}

#battlefield {
}

#controls {
	text-align: center;
}

#game_over {
	position: absolute;
	left: 200px;
	right: 200px;
	top: 200px;
	height: 300px;
	background-color: #FFC14D;
	color: black;
	border-radius: 16px;
	font-size: 100px;
	padding-top: 50px;
}

#home_team {
	left: 0;
	background-color: #FF6666;
}

#start_button {
	background-color: #75FF6E;
	font-size: 48px;
	padding: 4px 8px;
	border-radius: 8px;
	color: black;
	cursor: default;
	-webkit-user-select: none;
}

#start_button:hover{
	background-color: #55EF4E;	
}

#turns {
	font-size: 48px;
}








