#away_team {
	margin: 8px 8px;
	position: absolute;
	top: 0;
	right: 0;
}

#battlefield {
	background-color: #CCC;
	text-align: center;
}

#controls {
	text-align: center;
}

#home_team {
	margin: 8px 8px;
	position: absolute;
	top: 0;
	left: 0;
}

.battlefield_cell {
	height: 80px;
	width: 80px;
	display: inline-block;
	background-color: #BEFFB3;
	margin: 4px;
	border-radius: 8px;
}

.column {
	display: inline-block;
	height: 100%;
}

.dead {
	display: none;
}

.food {
	height: 60px;
	width: 60px;
	margin: 10px;
	background-color: #F57FDF;
	border-radius: 8px;
}

.roster {
	font-size: 36px;
}	

.fighter {
	height: 60px;
	width: 60px;
	margin: 10px;
	border-radius: 8px;
	background-repeat: no-repeat;
}

.north, .south, .east, .west {
	border-color: red;
	border-width: 6px;
}

.north { border-style: solid none none none; }
.east { border-style: none solid none none; }
.south { border-style: none none solid none; }
.west { border-style: none none none solid; }



